<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vouchersteam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoucherSteam">
        <activity android:name=".TransactionCompleteActivity"></activity>
        <activity
            android:name=".TransactionProduct20Activity"
            android:parentActivityName=".VoucherProduct20Activity" />
        <activity
            android:name=".TransactionProduct10Activity"
            android:parentActivityName=".VoucherProduct10Activity" />
        <activity
            android:name=".TransactionProduct5Activity"
            android:parentActivityName=".VoucherProduct5Activity" />
        <activity
            android:name=".TopUpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VoucherProduct20Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VoucherProduct10Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VoucherProduct5Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DeleteAcountActivity" />
        <activity android:name=".EditProfileActivity" android:parentActivityName=".ProfileActivity">
            android:parentActivityName=".UpdateProfileSuccessActivity"
        </activity>
        <activity
            android:name=".LogoutActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".UpdateProfileSuccessActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>